/* Colors */
body {
    color: rgb(50, 50, 50);
    background-color: #f0f0f0;
}

/* Background */
header {
    background-color: #333;
    color: white;
}

/* Unit */
main {
    width: 80%;
    margin: 0 auto;
}

/* Box Model */
/* Margin */
#brainstorming {
    margin: 20px;
}

/* Padding */
header {
    padding: 10px;
}

/* Borders */
fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
}
